@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden !important;
}

h3 {
    @apply text-lg font-bold;
}

header {
    @apply w-screen h-20 z-10 bg-zinc-200 fixed drop-shadow-lg;
}

nav {
    @apply py-2 px-6 flex flex-row justify-between items-center w-full h-full md:px-14;
}

button {
    @apply p-2 mr-2 text-white border rounded-md
    bg-indigo-600 border-indigo-600
    md:hover:bg-transparent md:hover:text-indigo-600
}

section {
    @apply w-full;
}

footer {
    @apply w-full mt-24 bg-slate-900 text-gray-300 py-8 px-2;
}

.icon {
    @apply w-5 h-6 fill-current text-indigo-600 mr-1;
}

.navbar {
    @apply hidden items-center space-x-0 md:flex;
}

.navbar ul {
    @apply flex;
}

.navbar a {
    @apply p-2 font-bold text-base text-gray-600 hover:text-indigo-600 focus:text-indigo-600 active:text-indigo-600;
}

.brand {
    @apply text-3xl font-bold sm:text-4xl;
}

.menuIcon {
    @apply w-6 md:hidden cursor-pointer;
}

.mobile {
    @apply flex flex-col justify-between space-y-8 bg-zinc-200 pb-6 rounded-b-3xl md:hidden;
}

.mobile li {
    @apply border-b-2 border-zinc-300 mx-4 p-4;
}

.mobile a {
    @apply py-4 font-bold text-base text-gray-600 focus:text-indigo-600 active:text-indigo-600;
}

.mobileButtons {
    @apply flex flex-col justify-between space-y-4 m-6;
}

.heroSection {
    @apply relative flex flex-col h-screen justify-between bg-zinc-200;
}

.heroContainer {
    @apply grid grid-cols-1 max-w-screen-xl m-auto md:grid-cols-2;
}

.heroDetails {
    @apply flex flex-col w-full px-2 py-8 ml-6;
}

.heroTitle {
    @apply text-5xl font-bold py-3 md:text-6xl xl:text-8xl;
}

.heroText {
    @apply text-xl md:text-2xl xl:text-4xl;
}

.heroButton {
    @apply my-4 w-[50%];
}

.heroImage {
    @apply w-[70%] mb-24 md:mb-0;
}

.heroServices {
    @apply absolute flex flex-col text-center w-[95%] gap-2 p-2 bottom-[5%] mx-3
    bg-zinc-200 border border-slate-300 rounded-xl shadow-xl
    md:w-[75%] md:left-1/2 md:p-8 transform md:-translate-x-1/2 xl:w-[50%];
}

.heroServicesItems {
    @apply flex flex-wrap gap-2 space-x-2 md:justify-center md:items-center;
}

.heroServicesItems p {
    @apply flex text-slate-600;
}

.aboutSection {
    @apply my-[7%];
}

.aboutContainer {
    @apply max-w-screen-xl mx-auto;
}

.aboutBody {
    @apply text-center;
}

.aboutBody h2 {
    @apply text-5xl font-bold;
}

.aboutBody p {
    @apply text-2xl py-6 text-gray-500;
}

.aboutCards {
    @apply grid md:grid-cols-3 gap-1 px-2 text-center;
}

.aboutCard {
    @apply border py-8 rounded-xl shadow-xl;
}

.aboutCard h4 {
    @apply text-6xl font-bold text-indigo-600;
}

.aboutCard p {
    @apply text-xl text-gray-400 mt-2;
}

.supportContainer {
    @apply w-full mt-24;
}

.supportImageCover {
    @apply absolute w-full h-[700px]  bg-gray-900/90 ;
}

.supportImage {
    @apply w-full h-full object-cover mix-blend-overlay;
}

.supportBodyContainer {
    @apply relative max-w-screen-xl mx-auto text-white;
}

.supportBody {
    @apply px-6 py-12;
}

.supportBody h2 {
    @apply text-center text-4xl text-slate-300 uppercase;
}

.supportBody h3 {
    @apply py-6 text-center text-2xl;
}

.supportBody p {
    @apply text-slate-300 text-lg lg:text-xl;
}

.supportCards {
    @apply relative grid gap-x-8 gap-y-16 px-4 py-6 text-black lg:grid-cols-3 sm:pt-20;
}

.supportCard {
    @apply bg-white rounded-xl shadow-2xl;
}

.supportCardBody {
    @apply p-8;
}

.supportCardBody h3 {
    @apply my-6 text-2xl font-bold;
}

.supportCardBody p {
    @apply text-lg text-gray-600 lg:text-xl;
}

.supportCardIcon {
    @apply w-16 p-4 -mt-16 bg-indigo-600 rounded-lg text-white;
}

.supportCardLink {
    @apply pl-8 py-4 bg-slate-200 rounded-b-xl shadow-2xl;
}

.supportCardLink a {
    @apply flex items-center font-semibold text-indigo-600;
}

.supportCardLinkIcon {
    @apply w-5 ml-2 fill-current;
}

.allInOneContainer {
    @apply w-full my-32;
}

.allInOneHeaderContainer {
    @apply max-w-screen-xl mx-auto px-2;
}

.allInOneHeaderContainer h2 {
    @apply text-4xl font-bold text-center;
}

.allInOneHeaderContainer p {
    @apply text-2xl p-8 text-gray-500 text-center;
}

.allInOneCards {
    @apply grid gap-4 p-4 sm:grid-cols-2 lg:grid-cols-4;
}

.allInOneCard {
    @apply flex rounded-xl shadow-xl p-4;
}

.allInOneCardIcon {
    @apply w-7 text-green-600 m-2;
}

.allInOneCard h3 {
    @apply font-bold text-lg mt-2;
}

.allInOneCard p {
    @apply text-lg text-left p-0 mt-2;
}

.pricingSection {
    @apply text-white my-24;
}

.pricingAbsolute {
    @apply absolute w-full h-[760px] bg-slate-900 mix-blend-overlay;
}

.pricingContainer {
    @apply max-w-screen-xl mx-auto py-12;
}

.pricingHeader {
    @apply text-center py-8 text-slate-300;
}

.pricingHeader h2 {
    @apply text-3xl uppercase;
}

.pricingHeader h3 {
    @apply text-4xl font-bold text-white py-8;
}

.pricingHeader p {
    @apply text-2xl px-4;
}

.pricingCards {
    @apply grid sm:grid-cols-2;
}

.pricingCard {
    @apply relative bg-white text-slate-900 m-4 p-8 rounded-xl shadow-2xl;
}

.pricingCard h4 {
    @apply uppercase w-28 px-3 py-1 bg-indigo-200 text-center text-sm text-indigo-900 rounded-2xl;
}

.pricingCardAmount {
    @apply flex text-6xl font-bold py-4;
}

.pricingCardAmount span {
    @apply flex flex-col justify-end text-xl text-slate-500;
}

.pricingCardSubtitle {
    @apply text-xl text-slate-500;
}

.pricingCardBody {
    @apply text-xl;
}

.pricingCardChecks {
    @apply py-6;
}

.pricingCardChecks p {
    @apply flex py-2;
}

.pricingCardBody button {
    @apply w-full;
}

.pricingCardIcon {
    @apply w-7 mr-5 text-green-600;
}

.footerContainer {
    @apply grid grid-cols-2 max-w-screen-xl mx-auto px-2 py-8 border-b-2 border-gray-600 md:grid-cols-6;
}

.footerMenu {
    @apply my-4 ml-6;
}

.footerMenu h6 {
    @apply font-bold uppercase text-indigo-400;
}

.footerMenuCheck {
    @apply h-6;
}

.footerMenu a {
    @apply flex gap-x-2 py-1 md:hover:text-indigo-400;
}

.footerSubscribe {
    @apply col-span-2 mt-4 mx-6 md:mx-0;
}

.footerSubscribe h6 {
    @apply font-bold uppercase text-indigo-400;
}

.footerSubscribe p {
    @apply py-4;
}

.footerSubscribe p {
    @apply py-4;
}

.footerSubscribe form {
    @apply flex flex-col md:flex-row;
}

.footerSubscribe input {
    @apply w-full p-2 mr-4 mb-4 rounded-md;
}

.footerSubscribe button {
    @apply w-full py-2 px-0 mb-4 rounded-md md:w-1/2;
}

.footerCopyright {
    @apply flex flex-col-reverse max-w-screen-xl justify-center items-center mx-auto px-2 text-center text-gray-500 md:flex-row md:justify-between md:text-xl;
}

.footerSocial {
    @apply flex justify-center items-center py-8 gap-x-5 text-4xl;
}

.footerSocialIcon {
    @apply md:hover:text-indigo-500 md:hover:scale-[1.2];
}